body,
html {
  font-family: $ff-regular;
  margin: 0;
  overflow-x: hidden;

  & * {
    box-sizing: border-box;
  }
}

.container {
  margin: 0 auto;
  padding: 0 16px;
  max-width: $contentWidth;

  &--small {
    max-width: 570px;
  }
}

main {
  margin-top: -64px !important;
  position: relative;
  z-index: 1;
}

h1,
h2,
h3 {
  font-weight: $ff-bold;
}

p {
  &.is-attention {
    color: color("red");
    font-weight: bold;
    opacity: 0.8;
  }
}

.section,
.footer {
  margin: 0 -16px;

  @media screen and (min-width: $desktopBp) {
    margin: 0;
  }
}

.section {
  padding: 40px 16px;
  margin-bottom: 50px;

  @media screen and (min-width: $desktopBp) {
    padding: 70px 82px;
  }

  &.section--image {
    margin-bottom: 0;
  }
}
